.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

/* 为AI按钮的容器设置样式，相当于上面 buttons 普通按钮的容器 */
.ai-button-container {
    width: 100%; /* 确保容器占据整个宽度，为按钮换行做准备 */
    margin-top: 0.5rem; /* 增加与上一行按钮的间距，可根据需要调整 */
    display: flex;
    justify-content: center; /* 让按钮在容器中水平居中 */
}

.button:active {
    transform: scale(0.96);
}
